*{
	margin:0;
	padding:0;
	list-style: none;
}


.h_content{
    width:1000px;
    height:80px;
    margin:0 auto;
}

.userman{
    margin:20px auto 0;
	width:150px;
	height:600px;

}

.welcome{
    height:30px;
    line-height: 30px;
}

.main{

    width: 1000px;
    height: 400px;
    margin: 10px auto 0;
    border-top:1px solid transparent;
}
.reg_content{
    width: 600px;
    height: 380px;
    margin: 10px auto 0;
}

.form_list{
    width: 550px;
    margin:10px auto 0;
    height: 40px;
}

.form_list_title{
    width: 100px;
    height:40px;
    float:left;
    text-align:right;
    line-height:34px;
}


.form_list_content{
    width: 300px;
    height:40px;
    float:left;
    position:relative;
}

.yzm{
    position:absolute;
    top:-3px;
    right:-120px;
}


.login_box{
    margin-top:100px;
}

.talign
{
    width:800px;
}


.bottom{

    width:1000px;
    height: 650px;
    margin: 0px auto 0; 
}
.menu{

    width:180px;
    height:400px;
    float:left;
}

.content{

    width:800px;
    height:400px;
    float:right;
}


/*cate_add.php*/

.falign{

    width:500px;
    height:300px;
    margin-left:80px;
    float:left;
}

.addimg{

    position: absolute;
    right:400px;
}


.footer{
    width:100%;
    height:150px;
    margin:10px auto 0;
    background: #F0F0F0;

}
.fcontent{
    height:80px;
    margin:10px auto 0;
    width:1000px;
    color:#171717;
    font-size: 12px;
    line-height: 40px;
    text-align: center;

}

.fclear{

    clear:both;
}

.bamain{

    width:300px;
    height:300px;
    float:right;
    margin-right:300px;
    margin-top:150px;
}


.bziti{

    font-style: bold;
    color:#0A0598;
    text-align: center;
}

.fright{

    float: right;

}

.fleft{

    float: left;
}

.search{
    width:200px;

    margin-left:100px;
}

.fenye{

    text-align: center;
}


.current_page{

    color:#08054D;
    font-size:18px;
}